@charset "utf-8";

/* 初期設定のリセット */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全体設定 */

body {
  font-family: "Noto Sans","Regular";
}

/* ヘッダー */

header {
  height: 56px;
}

nav {
  display: flex;
  width: 100%;
}
nav:first-child {
  margin-right: auto;
}

.header-logo {
  height: 24px;
  margin: 16px 0 16px 96px
}

.header-logo-rd,.hamburgermenu,.home-image-rd,.h1-rd {
  display: none;
}


.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header-nav li {
  margin: 26px 0 8px 56px;
  letter-spacing: 0px;
}

.header-nav li:last-child {
  margin-right: 96px;
}

.header-nav a {
  text-decoration: none;
}

.active {
  color: #3B3B3B;
}

.non-active {
  color: #B2B2B2;
}

/* ＜携帯用メディアクエリ＞ヘッダー */
@media(max-width: 375px) {
  header {
    background-color: #918F89;
  }

  .header-logo-rd {
    display: block;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  header li, header img {
    display: none;
  }

  .hamburgermenu {
    display: block;
    width: 36px;
    height: 32px;
    color: #FFFFFF;
    position: absolute;
    top: 12px;
    right: 16px;
  }

  .home-image-rd {
    display: block;
    width: 100%;
  }
}

/* ハンバーガーメニュー */

@media(min-width: 376px) {
  .hm_wrap {
    display: none;
  }
}

@media(max-width: 375px) {
  header {
    display: none;
  }

  .header-logo-rd {
    z-index: 10;
  }

  .hm_menu_check {/* チェックボックスを隠す */
    display: none;
  }

  .hm_wrap {
    display: inline-block;
    position :fixed;
    top :0;
    left :0;
    width :100%;
    height: 56px;
    background :rgb(145,143,137);
    z-index: 8;
  }
   
  .hm_title {/* ハンバーガーメニューオープン時の見出し */
    position: relative;
    color: #fff;
    display: inline-block;
    float: left;
    font-weight: 100;
    line-height: 30px;
    margin: 0 0 0 15px;
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.5s;
    transition: transform 0.6s, opacity 0.5s;
    z-index: 2;
  }
   
  /* ▽▽メニューボタン▽▽ */
  .hm_btn {
    position: relative;
    top:14px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
    float: right;
    z-index: 10;
  }
  .hm_btn::before {
    -webkit-box-shadow: #fff 0 12px 0;
    box-shadow: #fff 0 12px 0;
  }
  .hm_btn::after {
    bottom: 4px;
  }
  .hm_btn::before,.hm_btn::after {
    width: 38px;
    height: 2px;
    background: #fff;
    display: block;
    content: '';
    position: absolute;
    -webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
    transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
  }
  /* △△メニューボタン△△ */
   
  .hm_menu_wrap {
    width :100%;
    height :10000px;
    background :rgb(145,143,137,0.95);
    position: absolute;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
  }
   
  /* ▽▽開閉時のアニメーション▽▽ */
  .hm_menu_check:checked ~ .hm_title {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hm_menu_check:checked ~ .hm_btn::before {
    -webkit-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    -webkit-transform: rotate(45deg) translate3d(6px, 11px, 0);
    transform: rotate(45deg) translate3d(6px, 11px, 0);
  }
  .hm_menu_check:checked ~ .hm_btn::after {
    -webkit-transform: rotate(-45deg) translate3d(6px, -11px, 0);
    transform: rotate(-45deg) translate3d(6px, -11px, 0);
  }
  .hm_menu_check:checked ~ .hm_menu_wrap {
    left: 0;
  }
   
  /* △△開閉時のアニメーション△△ */
   
  /* ▽▽メニュー内のリストスタイル▽▽ */
  .hm_list {
    list-style-type: none;
    margin: 56px 0 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 752px;
  }

  .hm_list li {
    border-bottom: 1px solid rgb(255,255,255,0.4);
  }

  .home-btn {
    border-top: 1px solid #fff;
  }

  .hm_list li a {
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 32px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
  }
  .hm_list li a::before {/* aタグマウスオーバー時の背景 */
    background: rgb(255,255,255,0.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    -webkit-transition: bottom 0.3s;
    transition: bottom 0.3s;
    z-index: -1;
  }
   
  .hm_list li a:hover::before {
    bottom: 0;
  }
  .hm_list li a:hover::after {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* メイン（上部イメージ） */

.home-image {
  width: 100%;
}

h1 {
  position: absolute;
  top: 330px;
  font-size: 53px;
  color: #918F89;
  padding: 32px 32px 32px 88px;
  background-color: #FFFFFF;
  opacity: 0.8;
  width: 489px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.7px;
}

/* ＜携帯用メディアクエリ＞メイン（上部イメージ） */

@media(max-width: 375px) {
  .h1-rd {
    display: block;
    position: absolute;
    top: 255px;
  }

  .rd-1,.rd-2,.rd-3 {
    margin-bottom: 16px;
    padding: 23px 16px 9px 54px;
    background-color: rgb(255,255,255,0.6);
    color: #918F89;
    font-size: 39px;
    letter-spacing: 2px;
    height: 48px;
    z-index: 5;
  }

  .rd-1 {
    width: 66px;
  }

  .rd-2 {
  width: 175px;
  }

  .rd-3 {
  width: 120px;
  }

  .home-image,h1 {
    display: none;
  }
}



/* メイン（コンセプト） */

.concept {
  margin: 80px 120px 0 0px;
  display: flex;
  justify-content: center;
}

.concept div {
  margin: 240px 0 0 56px;
  color: #3B3B3B;
}

h2 {
  font-size: 25px;
  letter-spacing: 2.5px;
}

.concept p {
  margin-top: 71px;
  font-size: 12px;
  line-height: 30px;
}

.concept-image-rd,.concept-2 {
  display: none;
}

/* ＜携帯用メディアクエリ＞メイン（コンセプト） */
@media(max-width:375px) {
  .concept {
    width: 100%;
    box-sizing: border-box;
  }

  .concept div {
    margin: 88px 0 24px 0;
    color: #3B3B3B;
  }

  .concept-image {
    display: none;
  }

  .contept-description {
    display: block;
    width: 100%;
  }

  .contept-description h2 {
    font-size: 21px;
    letter-spacing: 2.3px;
    text-align: center;
    margin-bottom: 32px;
  }

  .concept p {
    margin-top: 0;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.42px;
    color: #3B3B3B;
  }

  .concept-2 {
    display: block;
    font-size: 14px;
    text-align: center;
    margin-bottom: 24px;
  }

  .concept-image-rd {
    display: block;
    margin: 0 auto;
  }

  .concept {
    display: block;
  }

  .concept-1 {
    display: none;
  }
    
}

/* メイン（ニュース） */

.news {
  margin: 240px 0 0 0;
}

h3 {
  font-size: 24px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #3B3B3B;
}

.arrival-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.item-image {
  margin: 48px 32px 0 32px;
  position: relative;
  background-color: rgb(00,00,00);
  width: 320px;
  height: 320px;
}

.item-image img {
  opacity: 0.5;
  width: 320px;
  height: 320px;
}

.item-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 14px;
  width: 220px;
  text-align: center;
}

.viewmore {
  font-size: 18px;
  margin-top: 38px;
  text-align: center;
}

.viewmore a {
  text-decoration: none;
  color: rgb(59,59,59,0.3);
  letter-spacing: 0.9px;
}

.viewmore a::after {
  content: " >";
  color: rgb(145,145,145,0.3);
}

.arrival-info-rd {
  display: none;
}

/* ＜携帯用メディアクエリ＞メイン（ニュース） */
  @media(max-width:375px) {
    .arrival-info {
      display: none;
    }

    .arrival-info-rd {
      display: block;

    }

    .item-image-rd {
      position: relative;
      background-color: rgb(00,00,00);
      width: 272px;
      height: 272px;
      margin: 0 auto 24px auto;
    }
    
    .item-image-rd img {
      opacity: 0.5;
      width: 272px;
      height: 272px;
    }
    
    .item-image-rd p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFFFFF;
      font-size: 15px;
      width: 240px;
      text-align: center;
    }

    .news h3 {
      margin-bottom: 24px;
    }

    .link_news {
      color: #3B3B3B;
    }

    .viewmore {
      font-size: 18px;
      margin-top: 32px;
      text-align: center;
    }
    
    .viewmore a {
      text-decoration: none;
      color: #3B3B3B;
      letter-spacing: 0.9px;
    }
    
    .viewmore a::after {
      content: " >";
      color: #919191;
      font-size: small;
    }

  }

/* カタログ */

.catalog {
  margin-top: 240px;
  text-align: center;
}

.catalog-detail {
  margin: 48px 0 40px 0;
}

.catalog p {
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.45px;
}

.dl {
  font-size: 18px;
  width: 344px;
  height: 56px;
  background-color: #D1D1D1;
  border: none;
  border-radius: 40px;
  color: #707070;
  letter-spacing: 1.8px;
}

.calalog-detail-rd {
  display: none;
}

/* ＜携帯用メディアクエリ＞メイン（カタログ） */

.catalog {
  color: #3B3B3B;
}

@media(max-width: 375px) {
  
  .catalog-detail {
    display: none;
  }
  
  .calalog-detail-rd {
    display: block;
    margin: 48px 23px 40px 23px;
  }

  .calalog-detail-rd p {
    font-size: 14px;
    letter-spacing: 0.42px;
  }

  .dl {
    font-size: 18px;
    width: 280px;
    height: 56px;
    background-color: #D1D1D1;
    border: none;
    border-radius: 40px;
    color: #707070;
    letter-spacing: 1.8px;
  }
}

/* メイン（コンタクト） */

form {
  margin-top: 240px;
}

form h3 {
  margin-bottom: 47px;
}

input, textarea {
  display: block;
  color: rgb(59,59,59,0.4);
  width: 454px;
  margin: 0 auto;
  margin-bottom: 24px;
  font-size: 12px;
  border-radius: 16px;
  border: 1px solid rgb(59,59,59,0.4);
  padding: 10px 16px;
  letter-spacing: 0.6px;
}

textarea {
  height: 200px;
  resize: none;
  font-family: "Noto Sans","Regular";
}

.send-btn {
  color: #707070;
  background-color: #D1D1D1;
  border: none;
  border-radius: 16px;
  width: 161px;
  height: 32px;
  letter-spacing: 1.4px;
}

.send-btn-rd {
  display: none;
}

/* ＜携帯用メディアクエリ＞メイン（コンタクト） */

@media(max-width:375px) {
  form h3 {
    font-size: 24px;
  }
  
  input, textarea {
    display: block;
    color: rgb(112,112,112,0.4);
    width: 286px;
    height: 20px;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 14px;
    border-radius: 11px;
    border: 0.5px solid rgb(112,112,112,0.4);
    padding: 11px 0 7px 17px;
    letter-spacing: 0.7px;
  }
  
  textarea {
    height: 160px;
    resize: none;
    font-family: "Noto Sans","Regular";
  }
  
  .send-btn {
    display: none;
  }

  .send-btn-rd {
    display: block;
    margin-top: 32px;
    color: #707070;
    background-color: #D1D1D1;
    border: none;
    border-radius: 30px;
    width: 173px;
    height: 48px;
    letter-spacing: 0.9px;
    padding: 0;
    text-align: center;
    font-size: 18px;
  }
  
  ::placeholder {
    color: rgb(59,59,59,0.4);
  }

}

/* リクルート */

.recruit {
  margin-top: 240px;
  text-align: center;
}

.recruit div {
  font-size: 15px;
  color: #3B3B3B;
  line-height: 30px;
  margin: 48px 0 39px 0;
}

.recruit p {
  letter-spacing: 0.45px;
}

/* フッター */

footer {
  margin-top: 320px;
  background-color: #918F89;
  position: relative;
  height: 240px;
}

.footer {
  display: flex;
}

.footer img {
  height: 40px;
  position: absolute;
  top: 120px;
  left: 224px;
}

.footer-nav {
  position: absolute;
  top: 120px;
  right: 224px;
  display: flex;
}

.footer-nav li {
  margin-left: 32px;
}

.footer-nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
}

small {
  color: #FFFFFF;
  font-size: 11px;
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  letter-spacing: 0.44px;
}

.footer-logo-rd {
  display: none;
}

/* ＜携帯用メディアクエリ＞フッター */
@media(max-width: 375px) {
.footer-logo {
  display: none;
}

  .footer-logo-rd {
    display: block;
  }

  .footer-nav {
    display: none;
  }

  .footer img {
    height: 32px;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}