@charset "utf-8";

/* 初期設定のリセット */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 全体設定 */

body {
  font-family: "Noto Sans","Regular";
}

/* ヘッダー */

header {
  height: 56px;
}

nav {
  display: flex;
  width: 100%;
}

nav:first-child {
  margin-right: auto;
}

.header-logo {
  height: 24px;
  margin: 16px 0 16px 96px
}

.header-nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.header-nav li {
  margin: 26px 0 8px 56px;
  letter-spacing: 0px;
}

.header-nav li:last-child {
  margin-right: 96px;
}

.header-nav a {
  text-decoration: none;
}

.active {
  color: #3B3B3B;
}

.non-active {
  color: #B2B2B2;
}
/* ＜携帯用メディアクエリ＞ヘッダー */
@media(max-width: 375px) {
  header {
    background-color: #918F89;
  }

  .header-logo-rd {
    display: block;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  header li, header img {
    display: none;
  }

  .hamburgermenu {
    display: block;
    width: 36px;
    height: 32px;
    color: #FFFFFF;
    position: absolute;
    top: 12px;
    right: 16px;
  }

  .home-image-rd {
    display: block;
    width: 100%;
  }
}

/* ハンバーガーメニュー */

@media(min-width: 376px) {
  .hm_wrap {
    display: none;
  }
}

@media(max-width: 375px) {
  header {
    display: none;
  }

  .header-logo-rd {
    z-index: 10;
  }

  .hm_menu_check {/* チェックボックスを隠す */
    display: none;
  }

  .hm_wrap {
    display: inline-block;
    position :fixed;
    top :0;
    left :0;
    width :100%;
    height: 56px;
    background :rgb(145,143,137);
    z-index: 8;
  }
   
  .hm_title {/* ハンバーガーメニューオープン時の見出し */
    position: relative;
    color: #fff;
    display: inline-block;
    float: left;
    font-weight: 100;
    line-height: 30px;
    margin: 0 0 0 15px;
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    -webkit-transition: -webkit-transform 0.6s, opacity 0.5s;
    transition: transform 0.6s, opacity 0.5s;
    z-index: 2;
  }
   
  /* ▽▽メニューボタン▽▽ */
  .hm_btn {
    position: relative;
    top:14px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: block;
    float: right;
    z-index: 10;
  }
  .hm_btn::before {
    -webkit-box-shadow: #fff 0 12px 0;
    box-shadow: #fff 0 12px 0;
  }
  .hm_btn::after {
    bottom: 4px;
  }
  .hm_btn::before,.hm_btn::after {
    width: 38px;
    height: 2px;
    background: #fff;
    display: block;
    content: '';
    position: absolute;
    -webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
    transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
  }
  /* △△メニューボタン△△ */
   
  .hm_menu_wrap {
    width :100%;
    height :10000px;
    background :rgb(145,143,137,0.95);
    position: absolute;
    left: -100%;
    top: 0;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
  }
   
  /* ▽▽開閉時のアニメーション▽▽ */
  .hm_menu_check:checked ~ .hm_title {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .hm_menu_check:checked ~ .hm_btn::before {
    -webkit-box-shadow: transparent 0 0 0;
    box-shadow: transparent 0 0 0;
    -webkit-transform: rotate(45deg) translate3d(6px, 11px, 0);
    transform: rotate(45deg) translate3d(6px, 11px, 0);
  }
  .hm_menu_check:checked ~ .hm_btn::after {
    -webkit-transform: rotate(-45deg) translate3d(6px, -11px, 0);
    transform: rotate(-45deg) translate3d(6px, -11px, 0);
  }
  .hm_menu_check:checked ~ .hm_menu_wrap {
    left: 0;
  }
   
  /* △△開閉時のアニメーション△△ */
   
  /* ▽▽メニュー内のリストスタイル▽▽ */
  .hm_list {
    list-style-type: none;
    margin: 56px 0 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
    height: 752px;
  }

  .hm_list li {
    border-bottom: 1px solid rgb(255,255,255,0.4);
  }

  .home-btn {
    border-top: 1px solid #fff;
  }

  .hm_list li a {
    color: #fff;
    display: block;
    overflow: hidden;
    padding: 32px 0;
    position: relative;
    text-decoration: none;
    z-index: 1;
  }
  
  .hm_list li a::before {/* aタグマウスオーバー時の背景 */
    background: rgb(255,255,255,0.4);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    -webkit-transition: bottom 0.3s;
    transition: bottom 0.3s;
    z-index: -1;
  }
   
  .hm_list li a:hover::before {
    bottom: 0;
  }
  .hm_list li a:hover::after {
    opacity: 0.5;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

}

/* メイン（上部イメージ） */

.recruit-image {
  width: 100%;
}

.recruit-image-rd {
  display: none;
}

h1 {
  position: absolute;
  top: 260px;
  left: 260px;
  font-size: 30px;
  color: #918F89;
  opacity: 0.8;
  letter-spacing: 3px;
}

/* ＜携帯用メディアクエリ＞メイン（上部イメージ） */

@media(max-width: 375px) {
  .recruit-image {
    display: none;
  }

  .recruit-image-rd {
    display: block;
  }

  h1 {
    position: absolute;
    top: 256px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    font-size: 25px;
    color: #3B3B3B;
    letter-spacing: 2.5px;
  }

}

/* リクルート */

section {
  margin-top: 161px;
}

h2 {
  font-size: 23px;
  letter-spacing: 2.3px;
  color: #3B3B3B;
  text-align: center;
  margin-bottom: 32px;
}

table {
  margin: 0 auto;
  border: 1px solid #707070;
  border-collapse: collapse;
  color: #3B3B3B;
  width: 640px;
  height: 624px;
}

th,td {
  border: 1px solid #707070;
}

th {
  background-color: rgb(112,112,112,0.3);
  vertical-align: middle;
  width: 144px;
}

td {
  padding: 15px 0 0 48px;
  font-size: 14px;
  line-height: 23px;
}

td p {
  height: 21px;
}

.occupation {
  font-size: 16px;
  margin-bottom: 8px;
}

.detail-header {
  font-size: 16px;
  margin-bottom: 6px;
}

.detail::before {
  content: "・";
}

span {
  font-family: "Noto Sans";
}

/* ＜携帯用メディアクエリ＞メイン（リクルート） */

@media(max-width: 375px) {
  section {
    margin-top: 160px;
  }
  
  h2 {
    font-size: 23px;
    letter-spacing: 2.3px;
    color: #3B3B3B;
    text-align: center;
    margin-bottom: 40px;
  }
  
  table {
    margin: 0 auto;
    border: 1px solid #707070;
    border-collapse: collapse;
    color: #3B3B3B;
    width: 344px;
    height: 624px;
  }
  
  th,td {
    border: 1px solid #707070;
  }
  
  th {
    background-color: rgb(112,112,112,0.2);
    vertical-align: middle;
    width: 74px;
  }
  
  td {
    padding: 17px 0 0 21px;
    font-size: 13px;
    line-height: 20px;
  }
  
  td p {
    height: 21px;
  }
  
  .occupation {
    font-size: 14px;
    margin-bottom: 8px;
  }
  
  .detail-header {
    font-size: 15px;
    margin-bottom: 7px;
  }
  
  .detail::before {
    content: "・";
  }
  
  span {
    font-family: "Noto Sans";
  }
}

/* フッター */

footer {
  margin-top: 320px;
  background-color: #918F89;
  position: relative;
  height: 240px;
}

.footer {
  display: flex;
}

.footer img {
  height: 40px;
  position: absolute;
  top: 120px;
  left: 224px;
}

.footer-nav {
  position: absolute;
  top: 120px;
  right: 224px;
  display: flex;
}

.footer-nav li {
  margin-left: 32px;
}

.footer-nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
}

small {
  color: #FFFFFF;
  font-size: 11px;
  position: absolute;
  left: 50%;
  bottom: 24px;
  transform: translateX(-50%);
  letter-spacing: 0.44px;
}

/* ＜携帯用メディアクエリ＞フッター */
@media(max-width: 375px) {

  footer {
    margin-top: 256px;
  }

  .footer-logo {
    display: none;
  }
  
  .footer-logo-rd {
    display: block;
  }
  
  .footer-nav {
    display: none;
  }
  
  .footer img {
    height: 32px;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
}